nav li { display: inline-block }

nav li { border: 2px solid black }

nav li { padding: 6px;
	    margin: 5px;
	    background: white }

a { color: black;
    text-decoration: none }
a:hover { color: red }



h1 { color: white;
	font-size: 300% }



body { background: gray;
		color: white;
		font-size: 14pt; }



